@import './variables';

* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  // font-size: 62.5%;
}

main {
  width: inherit;
  height: inherit;

  section.container {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    div.wrapper {
      width: 80vw;
      height: auto;
      padding: 1em;
      background: $wrapper;
      border: $border solid black;
      border-radius: 2em;
      display: flex;
    
      div.control {
        padding: 10vw 1.5vw 0 1.5vw;
        flex: auto;
        align-self: stretch;
        display: flex;
        flex-direction: column;

        &.right {
          justify-content: space-between;

          .buttons {
            display: flex;
            flex-direction: column;
            gap: 1.5vw;

            button {
              border: calc($border / 2) solid black;
              border-radius: .5em;
              align-self: flex-start;
            }
          }
        }

        div.wheel {
          aspect-ratio: 1 / 1;
          width: 10vw;
          padding: 1em;
          background: $wheel;
          border: $border solid #000;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          transition: all 0.3s;

          &.horizontal {
            align-self: flex-end;
          }

          &.vertical {
            align-self: flex-start;
          }

          div.knob {
            aspect-ratio: inherit;
            align-self: flex-start;
            width: 44%;
            border: $border solid #000;
            border-radius: 100%;
          }
        }
      }

      div.canvas {
        aspect-ratio: 1 / 1;
        background: $canvas;
        border: calc($border / 2) solid silver;
        width: 50vw;
        display: grid;

        .pixel {
          aspect-ratio: 1 / 1;
          border: inherit;
          transition: all 0.3s;

          &:hover {
            transition: all 0.3s;
          }
        }
      }
    }
  }
}